@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* swiper css 기본 설정 */
.swiper-slide {
  height: auto !important;
}

/* 스크롤바 너비 */
* ::-webkit-scrollbar {
	width: 12px; 
}

/* 스크롤바 */
* ::-webkit-scrollbar-thumb {
  background-color: #6B6B6B;
  border-radius: 10px;
}

/* 스크롤바 트랙 */
* ::-webkit-scrollbar-track {
  background-color: #2C2C2C;
}